<head>
    <link rel="stylesheet" href="Site.css">
</head>

<div>


    <br />
    <br />
    <h1 class="bordered" align="center">CSS LESS Demo</h1>

    <div>
        <h2>Hello, World.</h2>
    </div>

    <div>
        <br />
        <br />
        <p>This is a demo to demonstrate how CSS LESS works.</p>
    </div>

    <h2>Transitions</h2>
    <div class="shape" id="shape1"></div>
    <div class="shape" id="shape2"></div>
    <div class="shape" id="shape3"></div>

    <br />
    <h2>Buttons</h2>
    <br />
    <div id="container">
        <a id="button1" href="#"><span class="text">Sample button</span></a>
        <a id="button2" href="#"><span class="text">Sample button</span></a>
        <a id="button3" href="#"><span class="text">Sample button</span></a>
    </div>

    <h2 class="headerAnim">Animations</></h2>

    <div class="containter">
        <ul id="ul">
            <li><div class="shape" id="shape4"></div></li>
            <li><div class="shape" id="shape5"></div></li>
            <li><div class="shape" id="shape6"></div></li>
        </ul>
    </div>

</div>

