<head>
    <link rel="stylesheet" href="Site.css">
</head>

<div>


    <br />
    <br />
    <h1 class="bordered"><center>CSS LESS Demo</center></h1>

    <div>
        <h2>Hello, World.</h2>
    </div>

    <div>
        <br />
        <br />
        <p>This is a demo to demonstrate how CSS LESS works.</p>
    </div>

    <div class="shape" id="shape1"></div>
    <div class="shape" id="shape2"></div>
    <div class="shape" id="shape3"></div>

    <br />
    <br />
    <div id="container">
        <a id="button1" href="#"><span class="text">Sample button</span></a>
        <a id="button2" href="#"><span class="text">Sample button</span></a>
        <a id="button3" href="#"><span class="text">Sample button</span></a>
    </div>

    <!--<div>
        <br />
        <br />
        <div class="shape" id="shape4"></div>
    </div>-->

    <h2 class="headerAnim">Animations</></h2>

    <ul>
        <li><a id="button4" href="#"><span class="text">Button 1</span></a></li>
        <li></li>
        <li></li>
        m
    </ul>

</div>

